{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "markup",
                    "python"
                ],
                "plugins": [
                    "line-numbers"
                ],
                "theme": "okaidia",
                "css": true
            }
        ]
    ]
}