@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/epilogue-regular.woff2) format("woff2");
}

html {
  overflow: hidden;
}

body {
  background: radial-gradient(
      30% 55.51% at 50% 70%,
      #ffd3c7 0%,
      rgba(255, 211, 200, 0.04) 100%
    ),
    radial-gradient(30% 80% at 94% 96%, #c8eaff 0%, rgba(230, 245, 255, 0) 70%),
    radial-gradient(
      44% 80% at 4% 94%,
      rgba(107, 110, 154, 0.8) 0%,
      rgba(225, 225, 234, 0) 100%
    ),
    #ffffff !important;
  background-attachment: fixed !important;
}

.prose {
  max-width: 100%;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

.entry img {
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0px auto;
}

.extra > span {
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0px auto;
}

.nav::-webkit-scrollbar {
  width: 5px;
}

.nav::-webkit-scrollbar-thumb {
  @apply bg-neutral-500 rounded;
}

.navSocials a {
  @apply space-x-4 flex items-center hover:underline underline-offset-2;
}

.navLink svg {
  @apply h-6 w-6 sm:h-4 sm:w-4;
}

label {
  @apply font-bold text-base;
}

/* Code Highlighting credits - Lee Robinson (https: //github.com/leerob/leerob.io/blob/main/styles/global.css) */

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 28 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17 17H14V15H17C18.6569 15 20 13.6569 20 12C20 10.3431 18.6569 9 17 9H14V7H17C19.7614 7 22 9.23858 22 12C22 14.7614 19.7614 17 17 17ZM10 17H7C4.23858 17 2 14.7614 2 12C2 9.23858 4.23858 7 7 7H10V9H7C5.34315 9 4 10.3431 4 12C4 13.6569 5.34315 15 7 15H10V17ZM17 13H7V11H17V13Z' fill='rgb(46,58,89)'></path></svg>");
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-lg;
}

code {
  @apply bg-gray-50 dark:bg-gray-900;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 p-0;
  border: initial;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
